# Generated reports
reports/

# State
state/

# Logs
log/

# Temporary files
*.tmp
*.swp

# Python
__pycache__/
*.pyc

# Local testing
#test/local
sandbox/

# Generated dumps
*.dump

# Local settings for test
test/settings.conf
