[Unit]
Description=Btrfs Churn Monitor

[Service]
Type=oneshot

EnvironmentFile=-/etc/default/btrfs-churn-mon

ExecStart=/opt/btrfs-churn-mon/bin/monitor-run.sh ${SNAPSHOT_FAMILY:-home}
