#!/usr/bin/env bash

ROOT="$(
    cd "$(dirname "${BASH_SOURCE[0]}")/.." &&
    pwd
)"

CONFIG="${CONFIG:-$ROOT/etc/btrfs-churn-mon.conf}"

if [[ -f "$CONFIG" ]]
then
    # shellcheck source=/dev/null
    source "$CONFIG"
fi

: "${PREFIX:=/opt/btrfs-churn-mon}"
: "${SNAPDIR:=/mnt/btrfs_pool/btrbk_snapshots}"

export PREFIX
export SNAPDIR